table {
    padding: 10px;
    width: 100%;
    text-align: justify;
}

th, td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover td{
    background-color: #767676;
    color: #fff;
}

thead th {
    background-color: #000000;
    color: #fff;
}